bs4
certifi
chardet
click
Flask
gevent
greenlet
grequests
idna
itsdangerous
Jinja2
lxml
MarkupSafe
multidict
pymongo
PySocks
requests
requests-futures
selenium
ujson
urllib3
Werkzeug
gunicorn
demjson
ipython
pytest
raven[flask]